@model IEnumerable<HW8.Models.RaceResult>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamsandAthlete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.Name)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Select(s => s.Athlete.Name).FirstOrDefault())
        </dd>

    </dl>
</div>
<table>
    <tr>
        <th>MeetDate</th>
    </tr>
    <tr>
        <th>Event Name</th>
    </tr>
    <tr>
        <th>MeetTitle</th>
    </tr>
     <tr>
        <th>MeetTitle</th>
    </tr
    @foreach (var item in Model)
  {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Event.EventTitle)</td>
        </tr>
    }
</table>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
