@model IEnumerable<HW6.Models.StockItem>
@{
    ViewBag.Title = "Index";
}
@* this index.cshtml view is the search function of the controller, it will take the string and passes back to
    the controller by using the StockItem model*@


<div class="row page-header">
    <img src="https://blog.hubspot.com/hubfs/content_marketing_banner.jpg" height="150" width="750" />
</div>

<h2>StockItem Search</h2>

@using (Html.BeginForm("Index", "StockItems", FormMethod.Get))
{

    @Html.TextBox("search", null, new { @class = "form-control", @id = "stockitem-search", @placeholder = "Please Enter StockItem Name", type = "string", required = "required" })


    <button class="btn btn-default" type="submit">Display</button>

}

<div class="col-md-4">
    <div>

        @if (ViewBag.Success == true)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>item name</tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td>Data Not found</td>
                        </tr>

                    }
                    else
                    {

                        foreach (var stockitem in Model)
                        {
                            <tr>
                                <td> @stockitem.StockItemName </td>


                            </tr>


                            @Html.ActionLink(stockitem.StockItemName, "Details", "StockItems", new { id = stockitem.StockItemID }, null)

                        }

                    }
                </tbody>
            </table>




        }

    </div>

</div>










