@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>RGB Color</h2>
        <p>
            The RGB color model is an additive color model[1] in which red, green and blue light are added together in various ways to reproduce a broad array of colors. The name of the model comes from the initials of the three additive primary colors, red, green, and blue.
            The main purpose of the RGB color model is for the sensing, representation, and display of images in electronic systems, such as televisions and computers, though it has also been used in conventional photography. Before the electronic age, the RGB color model already had a solid theory behind it, based in human perception of colors
        </p>
        <a>@Html.ActionLink("Try it Out", "RGBColor", "Home")</a>
    </div>


    <div class="col-md-6">
        <h2>Color InterPolation</h2>
        <p>The color-interpolation attribute specifies the color space for gradient interpolations, color animations, and alpha compositing. ... The color-interpolation property chooses between color operations occurring in the sRGB color space or in a (light energy linear) linearized RGB color space.</p>
        <a>@Html.ActionLink("Check it out", "CreateColor", "ColorInterpolation")</a>
    </div>
</div>